@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');

a.brand-logo{
    font-family: 'Cabin', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
}

a.playlist-name{
    font-weight:400;
    font-size:1.2rem;
}

a.track{
    font-size: 0.8rem!important;
}

img.logo{
    width: 4%;
    vertical-align: middle;
    
}

img.firebase{
    width: 18%;
    vertical-align: middle;
    margin-left:10px;
}

.modal { 
    width: 78% !important ; 
    height: 80% !important;
    border-radius: 0.5rem;
}

#modal1{
    transform: translateY(-50%) !important;
}

.modal-header {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

.modal-content {
    height: auto !important;
    max-height: calc(100vh - 340px) !important;
}

.modal-header h4.title{
    margin: auto;
    font-family: 'Cabin';
    font-weight: 400!important;
}

@media (max-width:320px){
    img.logo{
        width: 25px;
        vertical-align: middle;
       
    }
    img.firebase{
        width: 46%;
        vertical-align: middle;
        margin: auto 10px;
    }
}
    
@media (max-width:360px){
    img.logo{
        width: 30px;
        vertical-align: middle;
        
        }
    img.firebase{
        width: 37%;
        vertical-align: middle;
        margin: auto 10px;
    }
}

@media (max-width:500px){
    img.logo{
        width: 35px;
        vertical-align: middle;
       
    }
    img.firebase{
        width:150px;
        vertical-align: middle;
        margin: auto 10px;
    }
}



